*{
  font-family: 'Asap Condensed', sans-serif;
}

body{
  margin: 0;
}

#splashcontainer{
width: 100%;
height: 100%;
background: #1B2021;
z-index: 1;
top:0;
left:0;
position: fixed;
}

#splash{
  font-family: 'Hammersmith One', sans-serif;
  color: #F06449;
  text-align: center;
  margin-top:5em;
  font-size: 3em;
}

#mapStyle{
  color: #EDE6E3;
  text-align: center;
}

#userAddress{
  width: 100%;
  background: #272932; 
}


header{
  height: 20%;
}

#myAddress, #text{
  text-align: center;
  margin-top: 0;
}

#myAddress{
  color: #EDE6E3;
  font-size: 1em;
}

#text{
  font-size: 1.5em;
  color: #F06449;  
}

#map{
  width:90%;
  height: 300px;
  margin-left: 5%;
  margin-top: 10%;
}
  /* margin-left: 10%;
  border: 1px solid #272932;
  text-align: center;
  margin-top: 1em; */


.restaurantsNum{
  font-size: 1.2em;
  text-align: center;
}

.search, #listContainer{
  overflow: auto;
  margin-top: 0.7em;
  
}


.search{
  margin-left: 12.5%;
  width: 80%;
  height: 2em;
}
.restaurantContainer{
  border: 1px solid #a4a7b6; 
  margin-bottom: 0.7em;
  height: 40px;
  width: 90%;
  padding: 0;
  margin-left: 5%;
}

#searchInput, .restaurant{
  margin: 0;
  float: left;
  padding: 0;
}

#searchInput{
  width: 90%;
  height: 100%;
}

.searchButton{
  width: 10%;
  height: 20px;
  
}

.restaurant{
  text-align: center;
  width: 80%;
}

.searchButton, .infoButton{
  margin: 0;
  float: left;
  height: 100%;
  background: #F06449; 
  border: none;
}

.infoButton{
  width: 20%;
} 

.searchIcon{
  width: 0.8em;
}

.closeButton{
  width: 1.2em;
  margin-left: 90%;
  margin-top: 0.5em;
}


/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1;
  padding-top: 50%; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color:rgb(39, 41, 50);
  background-color: rgba(39, 41, 50, 0.8);
  
}

/* Modal Content */
.modalContent {
  margin: auto;
  height: 40%;
  width: 80%;
/*   border-radius: 10px; */
  background-color: white;
}


.name{
  font-size: 1.5em;
  text-align: center;
}

.infoContent{
  width: 90%;
  margin-left: 5%;
  text-align: left;
  
}


